/*  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

  Author: Your name here
  Date: creation date

  CONTENTS:
  ________

  001.  CSS RESET
  002.  GENERAL STYLES
  003.  HEADER
  004.  NAVIGATION MENU
  005.  MAIN PAGE LAYOUT
  006.  CARDS LAYOUT
  007.  PAGE LAYOUT
  008.  PLANT PAGE LAYOUT
  009.  CONTACT FORM
  010.  PAGE FOOTER

  (to jump to any section of the Contents, use the section number (e.g. 002) in 'Find', Cmd-F) */

@import url("reset.css");
@import url("typography.css");

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 

    002.  GENERAL STYLES

    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

* {
  margin: 0;
  padding: 0;
}

html {
  --dark-text: #13381f;
  --light-text: #fcfcfa;
  --cream-text: #f6ead0;
  --medium-dark-text: #055723;
  --light-background: #f1f8f5;
  --dark-background: #002F15;
  --card-background: #b2d8c7;
  --page-background: #edece2;
  --dark-border-colour: #08331c;
  --dark-green: #13632e;
  --slide-out-menu-background: rgba(233, 240, 234, 0.93);
  --footer-background: #173826;
  --off-white: #fcfcf5;
  --description-text: #8c8e8d;
  --description-text-colour: #fcfcfa;
  --light-silver: #fcfcfa;
}

body {
  font-family: var(--typeface-poppins);
  color: #1d1d1b;
  background-color: var(--page-background);
}

/* This is the main content container for all pages */
main {
  max-width: 1200px;
  background-color: var(--light-background);
  margin: 0 auto;
  /* The container is centred within the page */
}

.external-link {
  text-decoration: underline;
  color: var(--cream-text);
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 

    003.  HEADER

    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-background);
  padding: 2rem 0 2rem 2rem;
  min-height: 7em;
}

header h1 {
  color: var(--dark-text);
  font-weight: 600;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
  
    004.  NAVIGATION MENU

    Responsive menu adapted from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
  
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.topnav {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.topnav a {
  color: var(--dark-text);
  text-decoration: none;
  font-size: 1.15em;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.current-page {
  font-weight: 600;
}

.icon {
  position: absolute;
  display: none;
  color: var(--dark-text);
  font-size: 2em;
  text-decoration: none;
}

@media screen and (max-width: 40em) {
  header {
    padding: 2rem 0 2rem 1rem;
    height: 4em;
  }

  .topnav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.7em;
  }

  .topnav a {
    display: none;
  }

  .icon {
    float: right;
    display: block;
    top: 1em;
    right: 1em;
  }
}

@media screen and (max-width: 40em) {
  header {
    padding: 2rem 0 2rem 1rem;
    height: 4em;
  }

  .topnav.responsive {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    margin-top: 0;
    padding: 6em 2em 4em 2em;
    background-color: var(--slide-out-menu-background);
  }

  .icon {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

@media screen and (max-width: 26em) {
  header h1 {
    max-width: 300px;
    line-height: 100%;
  }

  header {
    height: 7.7em;
    padding-bottom: 0;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

  005.  HOME PAGE LAYOUT

  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.introduction {
  background-color: var(--off-white);
  padding: 2rem;
}

.introduction h2 {
  color: var(--dark-text);
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.introduction p {
  color: var(--dark-text);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.readmore-button {
  background-color: var(--dark-green);
  border: none;
  color: var(--off-white);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all .3s;
  border-radius: 5px;
}

.readmore-button:hover {
  background-color: var(--dark-green);
  color: var(--cream-text);
  box-shadow: none;
}

.readmore-button:active {
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, .3);
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

      006.  006.  CARDS LAYOUT - for any page that has a grid of cards

    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* This sets the grid layout for the page. */
@supports (display: grid) {
  .cards__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
  }
}

/* A 'card' is just a container for text and images */
.card {
  text-align: center;
  background-color: var(--card-background);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  padding: 2rem 2rem 1.4rem 2rem;
  transition: box-shadow .3s;
  text-decoration: none;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card__image {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
}

.card__name {
  color: var(--dark-text);
  font-weight: 400;
  margin-top: .8rem;
  margin-bottom: .4rem;
}

.card__description {
  color: var(--dark-text);
  font-weight: 400;
  font-size: .7rem;
  margin-bottom: 1rem;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

      007.  GENERIC PAGE LAYOUT

    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.generic__page {
  padding: 2rem;
  margin: 0 2rem 2rem 2rem;
  min-height: 500px;
  background-color: var(--card-background);
}

.generic__page__h2 {
  color: var(--dark-text);
  font-weight: 400;
  font-size: 2.6em;
}

.generic__page__h3 {
  font-weight: 300;
  font-size: 2em;
}

.generic__page__intro {
  font-weight: 400;
  font-size: 1em;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

  008.  SINGLE ITEM  - PAGE LAYOUT

  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/*  Using 'grid-template-areas' we can design the layout of the containers 
    For Desktop and Tablet device widths, display containers in 2 columns 
    A full-stop '.' means 'leave a space' */

@supports (display: grid) {
  .single-item {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'one two'
      'one three'
      'four .'
      'five six';
    padding-block: 2rem;
    width: min(95%, 70em);
    margin-inline: auto;
  }
}

@media screen and (max-width: 1000px) {
  .single-item__image {
    max-width: 400px;
  }
}

/* For mobile device widths, stack containers in a single column */
@media screen and (max-width: 875px) {
  .single-item {
    grid-template-areas: 'two'
      'one'
      'three'
      'four'
      'five'
      'six';
    margin-left: 1em;
  }
}

.single-item__image {
  grid-area: one;
  width: 100%;
  max-width: 800px;
}

.single-item__h2 {
  grid-area: two;
  color: var(--dark-text);
  font-weight: 400;
  font-size: 2.6em;
}

.single-item__h3 {
  grid-area: three;
  font-weight: 300;
  font-size: 2em;
}

.single-item__introduction {
  grid-area: four;
  color: var(--dark-text);
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 24rem;
  margin-bottom: .5rem;
}

.single-item__block-one {
  grid-area: five;
}

.single-item__block-two {
  grid-area: six;
}

.single-item__h4 {
  font-weight: 500;
  font-size: 1.3em;
}

.single-item__p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.single-item__ul {
  list-style-type: none;
}

.single-item__ul li {
  padding-left: 1rem;
  background-image: url(images/list-image.svg);
  background-position: 0 .28rem;
  background-size: .7rem .7rem;
  background-repeat: no-repeat;
}

/* This button is unused at the moment : ) */
.next-button {
  background-color: var(--dark-text);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  border: 0;
  font-size: 26px;
  color: var(--off-white);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.next-button i {
  margin-left: .2rem;
}

.next-button:hover {
  background-color: var(--dark-text);
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

  009.  CONTACT FORM

  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/*  Here is the Contact Form arranged in two columns
    A dot denotes a blank space, so the elements on those rows are left-aligned */
@supports (display: grid) {
  .contact-form {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'c1 .'
      'c2 c3'
      'c4 c7'
      'c5 .'
      'c6 .'
      'c8 .';
    padding-block: 2rem;
    width: min(95%, 70em);
    margin-inline: auto;
  }
}

/*  For mobile device widths, elements are stacked in a single column */
@media screen and (max-width: 65.875em) {
  .contact-form {
    display: grid;
    grid-template-areas:
      'c1'
      'c2'
      'c3'
      'c4'
      'c5'
      'c6'
      'c7'
      'c8';
    margin-left: 1em;
  }

  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 90vw;
  }
}

.contact-form__heading {
  grid-area: c1;
  color: var(--dark-text);
  font-weight: 400;
  font-size: 2.6em;
}

.contact-form label {
  min-width: 100rem;
}

.contact-form h3,
.contact-form p {
  color: var(--dark-text);
  font-weight: 500;
}

.contact-form__name {
  grid-area: c2;
}

.contact-form__email {
  grid-area: c3;
}

.contact-form__role {
  grid-area: c4;
}

.contact-form__pwd {
  grid-area: c5;
}

.contact-form__message {
  grid-area: c6;
}

.contact-form__browser {
  grid-area: c7;
}

.contact-form__submit {
  grid-area: c8;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 20.4rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 1.4rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: var(--light-silver);
  color: var(--dark-text);
}

.contact-form input,
.contact-form select {
  height: 2.8rem;
  width: 30em;
}

.contact-form__submit button {
  background-color: var(--dark-background);
  border: none;
  color: var(--off-white);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all .3s;
  border-radius: 5px;
}

.contact-form__submit button:hover {
  background-color: var(--dark-green);
  color: var(--cream-text);
  box-shadow: none;
}

.contact-form__submit button:active {
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, .3);
}

.success-page {
  margin: 5vw;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

    010.  PAGE FOOTER

    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

footer {
  background-color: var(--footer-background);
  padding: 2rem;
  color: var(--off-white);
}

footer p {
  font-size: .8rem;
}

@supports (display: grid) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 2rem;
  }
}

.footer__menu {
  padding: 2rem;
}

.footer__menu__heading {
  font-weight: 600;
  font-size: 1rem;
}

ul.footer__menu__list {
  list-style-type: none;
}

ul.footer__menu__list li a {
  text-decoration: none;
  color: var(--off-white);
}

ul.footer__menu__list li a:hover {
  text-decoration: underline;
}

.footer__site-details p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
}

@media screen and (max-width: 1121px) {
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .footer__menu {
    padding: 0;
  }

  footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer__menu {
    padding: 0;
  }

  footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 290px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

/* = = =  E N D = = = */