/* ==============================

    T Y P O G R A P H Y

    ============================= */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@300;400;500;700&family=Merriweather&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --typeface-poppins: 'Poppins', sans-serif;
    --typeface-comfortaa: 'Comfortaa', sans-serif;
    --typeface-merriweather: 'Merriweather', serif;
    --typeface-inter: 'Inter', sans-serif;
    --typeface-open-sans: 'Open Sans', sans-serif;
    --typeface-space-grotesk: 'Space Grotesk', sans-serif;
}